div.css-1v0mbdj.e115fcil1 > img
{
    max-width: 70%;
    margin: auto;
}

span.css-10trblm.e1nzilvr0
{
    margin-left: 30%;
    font-family: 'Courier New', monospace;
    letter-spacing: 3px;
}

div.css-16idsys.e1nzilvr4   
{
    font-family: 'Consolas', monospace;
    margin-left: 26%;
    letter-spacing: 2px;
    font-weight: bold;
}
div.st-bc.st-b3.st-bd.st-b8.st-be.st-bf.st-bg.st-bh.st-bi.st-bj.st-bk.st-bl.st-bm.st-b1.st-bn.st-au.st-ax.st-av.st-aw.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bo.st-bp.st-bq.st-br.st-bs.st-bt.st-bu
{
    border-radius: 35px;
    width: 110%;
}
